<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/work.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/home">Home</a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/works">Works</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    <div id="container">
    <header>
                <h1>About</h1>
    </header>
    
        <article>
            <p>Chico Mendes was born on December 15, 1944 in the Puerto Rico rubber plantation,
                near the border between Acre and Bolivia, in Xapuri, state of Acre. 
                The son of a rubber tapper spent his childhood and youth beside his father cutting rubber.
            </p>
            <p>Life on the rubber plantation shaped the young rubber tapper into a feeling of revolt against injustice.
                The economic activity of rubber extraction in the Amazon has always been guided by relationships of large 
                exploitation. Aviamento, a system of exchanging industrial goods for extractive products, 
                created a society in permanent misery and indebtedness. Rebellions were quelled by the violence of police
                forces. And a rigid regulation of subordination to the rubber tappers, the owners of the rubber plantations, 
                punished those who dared to disrespect them with physical punishment.
            </p>
            <p>Unlike other rubber tappers, however, at the age of 16 Chico learned to read, write and think with 
                Euclides Fernandes Távora, a political refugee who lived close to his family's settlement. 
                This fact had a great influence on his life. When unions began to be formed in Acre, he was aware that
                the time had come to change the reality of the rubber plantations. In 1975, he was part of the board of 
                the Rural Workers Union of Brasiléia, the first created in Acre, presided over by the combative leader 
                Wilson Pinheiro.
            </p>
            <p>The situation in Acre was critical in the 1970s. The policy for the Amazon implemented by the military 
                regime generated major land conflicts. The replacement of rubber by livestock led to land speculation 
                and the deforestation of large tracts of land, preventing the rubber tappers from remaining in the 
                forest.
            </p>
            <p>In 1976, under the leadership of Wilson Pinheiro, the rubber tappers invented “defeating draws”: 
                they gathered their families, went to areas threatened by deforestation, dismantled the peon camps 
                and stopped the chainsaws. As a result of this resistance movement, in 1980 Wilson Pinheiro 
                was murdered inside the union's headquarters in Brasiléia.
            </p>
        </article>
        </div>
    </body>
    
</html>