<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="/work.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container-fluid">
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/home">Home</a>
                      </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="/works">Works</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    <div id="container">
    <header>
        <h1> Works</h1>
        <p></p>
    </header>
    
        <article>
            <p>Chico's coexistence with the forest and the knowledge he acquired on how to obtain livelihoods 
            from nature stimulated his curiosity and gave rise to a theory that would later be proven: 
            that the benefits derived from maintaining the forest are greater than the value obtained from its felling.
            </p>
            <p>Between 1987 and 1988 Chico Mendes won the Global 500, a UN award, in England, and the Environment Medal from the Better World Society,
            in the United States, and gave interviews to the main newspapers in the world. Journalists and researchers visited him in the rubber plantations 
            and spread his ideas across the planet. But while Chico was gaining international respect, 
            he was more threatened in Xapuri. Ties ended in prison. The promises to regularize land conflicts did not materialize. 
            The idea of ​​creating extractive reserves dragged on in the federal bureaucracy. On December 22, 1988, in an ambush at the back of his house,
            he was signed at the behest of Darly Alves, a land grabber with a history of violence in several parts of Brazil.
            </p>
            <p>The repercussion was immediate worldwide. The indignation was strong and was later reflected in Brazil. 
            The Brazilian press, which until then had ignored the rubber tappers' struggle and had never made room for Chico Mendes,
            tried to make up for lost time. The strong reaction and pressure of public opinion led to the conviction of the criminals in 1990, 
            an unprecedented event in rural justice in Brazil. The first Extractive Reserves were created in March 1990, 
            eliminating conflicts, realizing Chico Mendes' dream of seeing the forest valued and ensuring 
            a future perspective for the children of rubber tappers and extractivists. The main legacy of Chico Mendes
            is the Extractive Reserves, which represent the first initiative to reconcile environmental protection 
            and social justice, anticipating the concept of sustainable development that emerged with Rio 92.
            </p>
        </article>
        <h4>Tributes</h4>
        <ul>
            <li>In 1987, Chico Mendes was the first Brazilian to receive the UN Global 500 Award, which recognizes personalities who fight for the environment.</li>
            <li>Several cities in Brazil named parks in honor of the rubber tapper leader. In the cities of Rio de Janeiro, Osasco (SP), São Caetano do Sul (SP), Porto Alegre (RS), there are green spaces that bear his name.</li>
            <li>In music, composers of the most diverse styles such as the Brazilian band Sepultura and the rock group Maná have dedicated songs to him.</li>
        </ul>
    </div>
    </body>
    
</html>